/*attack.css*/
.app-component-attack {
	font-size: 12px;
	height: 100%;
	color:#fff;
	padding: 0 10px;
}
.app-component-attack .app-panel-asset {
	margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
}
.app-component-attack .asset-item {
	width: 19%;
    display: inline-block;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 5px .5%;
}
.app-component-attack .asset-item.top1 {
	border-top: 2px solid #f15127;
}
.app-component-attack .asset-item.top2 {
	border-top: 2px solid #f1c15c;
}
.app-component-attack .asset-item.top3 {
	border-top: 2px solid #4ac97a;
}
.app-component-attack .asset-item.top4 {
	border-top: 2px solid #4fafc8;
}
.app-component-attack .asset-item.top5 {
	border-top: 2px solid #199de6;
}
.app-component-attack .asset-item-frist-child {
	margin-left: 0;
}
.app-component-attack .asset-item-last-child {
	margin-right: 0;
}
.app-component-attack .asset-item-top.top1 {
	color:#f15127;
}
.app-component-attack .asset-item-top.top2 {
	color:#f1c15c;
}
.app-component-attack .asset-item-top.top3 {
	color:#4ac97a;
}
.app-component-attack .asset-item-top.top4 {
	color:#4fafc8;
}
.app-component-attack .asset-item-top.top5 {
	color:#199de6;
}
.app-component-attack .asset-item-top {
	margin-top: 5px;
	margin-bottom: 0;
	text-align: left;
    padding-left: 10px;
}
.app-component-attack .asset-item-ip {
	margin: 0 0 5px;
}
.app-component-attack .asset-item-count {
	margin-bottom: 5px;
	position: absolute;
	right: 10px;
	top: 5px;
}
.app-component-attack .asset-item-count span {
	color: #f15127;
}
.app-component-attack .app-panel-content {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    position: absolute;
    top: 90px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index: 1;
}
.app-component-attack .app-panel-content-title {
	position: absolute;
	top: 10px;
	left: 10px;
	color: rgba(255,255,255,0.6);
}
.app-component-attack .app-panel-content-source {
	top: 0;
	left: 0;
	width: 120px;
	/*height: 255px;*/
}
.app-component-attack .app-panel-content-target {
	top: 0;
	left: 125px;
	width: 150px;
	/*height: 255px;*/
}
.app-component-attack .app-panel-content-line {
	top: 0;
	right: 0;
	width: 300px;	
	/*height: 127px;*/
}
.app-component-attack #content-block-work-line {
	width: 300px;
	height: 150px;
}
.app-component-attack .content-block {
	position: absolute;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}
.app-component-attack .content-block-title {
	margin-left: 5px;
    cursor: pointer;
    line-height: 22px;
}
.app-component-attack .content-block-title svg {
	width: 8px;
    height: 8px;
    vertical-align: middle;
    position: absolute;
    right: 10px;
    top: 7px;
    fill: #fff;
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.app-component-attack svg.down-transform {
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}
.app-component-attack .content-block-work {
	/*display: none;*/
}
.app-component-attack .content-block-ul {
	padding: 0;
	margin-bottom: 5px;
	font-size: 11px;
	-webkit-transform:scale(0.9);
	overflow: hidden;
}
.app-component-attack .content-block-li {
	list-style: none;
	padding: 3px 0;
	text-align: center;
}
.app-component-attack .content-block-li:nth-child(1) span {
	color: #f15127;	
}
.app-component-attack .content-block-li:nth-child(2) span {
	color: #f1c15c;	
}
.app-component-attack .content-block-li:nth-child(3) span {
	color: #4ac97a;	
}
.app-component-attack .content-block-li:nth-child(4) span {
	color: #4fafc8;	
}
.app-component-attack .content-block-li:nth-child(5) span {
	color: #199de6;
}
.app-component-attack .content-block-li:nth-of-type(odd) span {
  	background-color: rgba(0,0,0,0.4);
  	padding: 5px 15px;
  	border-radius: 5px;
}
.app-component-attack .content-block-ul-target .content-block-li {
	text-align: left;
}
.app-component-attack .content-block-ul-target .content-block-li span {
	background: transparent;
	display: inline-block;
	padding: 0;
}
.app-component-attack .content-block-ul-target .content-block-li:nth-of-type(odd) div {
	background-color: rgba(0,0,0,0.4);
	/*padding: 3px 0; */
}
.app-component-attack .content-block-ul-target .content-block-li .label-name {
	width: 60%;
    text-align: left;
    padding-left: 10px;
}
.app-component-attack .content-block-ul-target .content-block-li .label-visit {
	width: 40%;
    text-align: right;
    padding-right: 10px;
    color: #f15127;
}
.app-component-attack .app-panel-content-table {
	bottom: 0;
	left: 0;
	right: 0;
	border-top-right-radius: 0;
}
.app-component-attack .app-panel-content-table .handle-drawer {
	position: absolute;
    right: 0px;
    top: -17px;
    background: inherit;
    width: 30px;
    text-align: center;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.app-component-attack .app-panel-content-table .handle-drawer svg {
	fill: #fff;
	height: 8px;
	width: 8px;	
	-webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.app-component-attack .app-panel-content-table .table-outside {
	/*display: none;*/
	max-height: 138px;
    height: 138px;
    overflow-y: auto;
}
.app-component-attack .app-panel-content-table .app-table {
	margin-bottom: 0;
	overflow: hidden;
}
.app-component-attack .app-panel-content-table .app-table td {
	padding: 3px 8px;
    border-top: 0;
}
.app-component-attack .app-panel-content-table tr td:nth-child(2) {
	color: #f15127;	
}
.app-component-attack .app-panel-content-table tr td:nth-child(4) {
	color: #199de6;
}
.app-component-attack .app-panel-content-table .table-striped > tbody > tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,0.4);
}