.app-component-visit {
	font-size: 12px;
	height: 100%;
	color:#fff;
	padding: 0 10px;
} 
.app-component-visit .app-panel-content {
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
	position: absolute;
	top:35px;
	left: 5px;
	right: 5px;
	bottom: 5px;
}
.app-component-visit .app-panel-content-title {
	position: absolute;
	top: 10px;
	left: 10px;
	color: rgba(255,255,255,0.6);
}
.app-component-visit .app-panel-content-topn {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	border-radius:5px;
	padding:10px;
}
.app-component-visit .app-panel-content-topn .topn-title {
	padding: 5px 0;
}
.app-component-visit .app-panel-content-topn .topn-ul {
	padding: 0;
	margin-bottom: 0;
}
.app-component-visit .app-panel-content-topn .topn-li {
	list-style: none;
	padding: 5px 0;
}
.app-component-visit .app-panel-content-topn .topn-li span {
	display: inline-block;
	margin-right: 5px;
}
.app-component-visit .app-panel-content-topn .topn-ranking {
	width: 15px;
    line-height: 15px;
    height: 15px;
    text-align: center;
    border-radius: 3px;
}
.app-component-visit .app-panel-content-topn span.topn-name {
	min-width: 80px;
	color: #fff;
	margin-right: 0;
}
.app-component-visit .app-panel-content-topn span.topn-scale {
	overflow: hidden;
	width: 80px;
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 5px;
}
.app-component-visit .app-panel-content-topn span.topn-scale span.topn-scale-in {
	margin-right: 0;
	border-radius: 5px;
    height: 10px;
    width: 0;
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
.app-component-visit .app-panel-content-topn span.topn-statistics {
	margin-right: 0;
	/*display: none;*/
	-webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.app-component-visit .topn-color-bg-1 {
	background-color: #f15127;
}
.app-component-visit .topn-color-1 {
	color: #f15127;	
}
.app-component-visit .topn-color-bg-2 {
	background-color: #f1c15c;
}
.app-component-visit .topn-color-2 {
	color: #f1c15c;	
}
.app-component-visit .topn-color-bg-3 {
	background-color: #4ac97a;
}
.app-component-visit .topn-color-3 {
	color: #4ac97a;	
}
.app-component-visit .topn-color-bg-4 {
	background-color: #4fafc8;
}
.app-component-visit .topn-color-4 {
	color: #4fafc8;	
}
.app-component-visit .topn-color-bg-5 {
	background-color: #199de6;
}
.app-component-visit .topn-color-5 {
	color: #199de6;	
}
.app-component-visit .topn-color-bg-6,
.app-component-visit .topn-color-bg-7,
.app-component-visit .topn-color-bg-8,
.app-component-visit .topn-color-bg-9,
.app-component-visit .topn-color-bg-10 {
	background-color: #999997;
}
.app-component-visit .topn-color-6,
.app-component-visit .topn-color-7,
.app-component-visit .topn-color-8,
.app-component-visit .topn-color-9,
.app-component-visit .topn-color-10 {
	color: #999997;	
}